body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.model {
  position: absolute;
  top:10px;
  margin-left: 10px;
  align-self: flex-start;
}

.button--reset{
  width: 80px;
  height: 25px;
  position: absolute;
  top: 50px;
  right:  50px;
}




/*
.list > li{
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.list--databases > li, .list--access > li{
  border-bottom: 1px solid grey;
  rgba(240, 240, 240, 1);
}*/



.list{
  position: relative;
  top: -20px;
 
  border: 1px solid grey;
 /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/

  border-radius: 4px;
  width: 370px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 1.2em;


}

.list__item{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.list__item:last-child{
  border:none;
}

.list__item:hover{
  background-color: #f7f8fc;
}


.list--screens{

  display: flex;
  width: 600px;
  justify-content: space-between;
  border: none;
}
/*Authentication*/
.container-form{
  position: absolute;
  top:37%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 370px;
  height: 300px;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-form{
  text-align: center;
  font-size: 1.8em;
}

.registration-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.container-links{
  display: flex;
  justify-content: space-between;
}

.link{
  display: block;
  text-decoration-line: none;
  color: #1976d2;
  font-size: 0.9em
}

.link:visited{
  color: #1976d2;

}

.link:hover{
  text-decoration: underline;

  color:rgb(17,82,147);
}
.input-wrapper{
 
}

.input-wrapper--submit{
  margin-top: 20px;
}

.registration-form__input{
  height: 40px;
  width: 100%;
  
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 1.2em;
  padding-left: 5px;
  box-sizing: border-box;
}

.registration-form__input:hover{
  border-color: black;
}

.registration-form__input--submit{
  background-color: #1976d2;
  color: #fff;
  cursor: pointer;
  padding-left: 0px;
}

.registration-form__input--submit:hover{
  background-color: darkblue;
}

